DATABASE_URL="mysql://root:ADM-T1$uM4$@161.97.115.144:3306/docente?schema=public"
# DATABASE_URL="mysql://root:@localhost:3306/docente?schema=public"

DATABASE_URL_READONLY="mysql://user_sigu:jrt532ws58%25%26rd5TTY@159.89.241.214:3306/jaguar_db_sigu"


JWT_SECRET = "sAsYt^2DMpm#E2vrv!ZYnb"
GOOGLE_CLIENT_ID=1045655674162-dphfnggpvbu3r893bm4d48a83ojlls58.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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z





